.top {
    box-shadow: 0 0 19px 15px #121010;
}

.header {
    padding: 40px 30px;
    color: gold;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
