th {
  border: 1px solid #4e4d4d;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  text-align: right;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__head {
    color: rgb(255, 238, 141);
  }
}
