.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.page {
    margin-right: 7px;

    &:last-of-type {
        margin-right: 0;
    }

    &__link {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        background-color: rgb(255, 238, 141);
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 7px;
        transition: all 0.2s ease-out;

        &:hover, &_current {
            background-color: rgb(129, 117, 101);
            color: #fff;
        }
    }
}